@import '_variables';
@import '_viewports';

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

html, body {
  font-size: 10px;
  min-height: 100%;
} 

*:not(.selectable) {
  @include viewports(up-to small) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  background: #fff;
  text-align: center;

  @include viewports(above small) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  &:before {
    @include viewports(above small) {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: url('/img/bg.svg') repeat $color_primary;
      background-size: 89px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  margin: 1rem;

  @include viewports(above small) {
    position: relative;
    max-width: 875px;
    box-shadow: 0 5px 20px rgba(#000, 0.16);
    min-height: auto;
    border-radius: 5px;
  }
}

.title {
  font-size: 7vmin;
  font-weight: 300;
  color: $color_black;

  @include viewports(above small) {
    font-size: 2.3rem;
  }
}

.subtitle {
  font-size: 4.5vmin;
  font-weight: normal;
  color: rgba($color_black, 0.38);

  @include viewports(above small) {
    font-size: 1.6rem;
  }

  b {
    color: rgba($color_black, 0.68);
  }
}

.container {
  padding: 1.5rem;
}

.page {
  position: absolute;
  width: 100%;
  min-height: 100%;

  @include viewports(above small) {
    position: relative;
  }
}

.page-entering {
  z-index: 2;
  animation: page-entering 0.5s cubic-bezier(.17,.67,.25,.99) forwards;
}

.page-leaving {
  z-index: 1;
  animation: page-leaving 1s linear forwards;
}

.btn {
  border: 1px solid $color_primary;
  color: $color_primary;
  border-radius: 100px;
  padding: 1rem 2rem;
  background: none;
  font-size: 1.5rem;
  font-family: inherit;
}

@keyframes page-entering {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0) scale(0.98);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

// @keyframes page-entering {
//   0% {
//     transform: translate3d(100%, 0, 0);
//   }

//   100% {
//     transform: translate3d(0, 0, 0);
//   }
// }

@keyframes page-leaving {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0.6;
    transform: scale(0.9);
  }
}