@import '../../styles/_variables';
@import '../../styles/_viewports';

.AboutPage {
  padding-top: 52px;
  text-align: left;

  @include viewports(above small) {
    max-height: 80vh;
    overflow: scroll;
  }

  .title {
    @include viewports(above small) {
      font-size: 2rem;
      margin-top: 3rem;
      margin-bottom: 0;
    }
  }

  p {
    line-height: 2.6rem;

    @include viewports(above small) {
      margin-top: 2.1rem;
    }

    a {
      color: $color_primary;
      border-bottom: 2px solid rgba($color_primary, 0.2);
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    color: $color_primary;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 10px rgba($color_black, 0.10);
    padding: 1rem;

    @include viewports(above small) {
      position: absolute;
      border-radius: 5px 5px 0 0;
    }
  }
}