@import '../../styles/_variables';
@import '../../styles/_viewports';

.GeneratorPage {
  display: flex;
  align-items: center;

  @include viewports(above small) {
    flex-direction: column;
  }

  h1 {
    margin-top: 4rem;
  }

  .instruction-hand {
    width: 80vmin;
    animation: instruction 1s ease-in-out forwards;

    @include viewports(above small) {
      width: 200px;
    }
  }

  .instructions {
    background: #fff;
    position: relative;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.96);
    transition: all 0.15s linear;

    @include viewports(above small) {
      width: 80%;
      margin: 0 auto;
    }

    &.active {
      opacity: 1;
      transform: scale(1);
    }
  }

  .generator {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;

    .progress-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 2;
      pointer-events: none;

      &.white {
        .percentage, .title {
          color: #fff;

          @include viewports(above small) {
            color: inherit;
          }
        }

        .percentage {
          @include viewports(above small) {
            color: $color_primary;
          }
        }
      }

      .title {
        margin-top: 0;
      }

      .title, .percentage {
        transition: color 0.2s linear;
      }

      .percentage {
        color: $color_primary;
      }
    }

    .progress {
      background: $color_primary;
      width: 100%;
      height: 100%;
      transform: translate3d(0, 100%, 0);
      transition: transform 0.1s linear;
      pointer-events: none;

      @include viewports(above small) {
        position: relative;
        background: #f0f0f0;
      }
      
      .seed {
        opacity: 0.05;
        color: #000;
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 6px;
        word-break: break-all;
        padding: 1rem;
        pointer-events: none;
      }
    }

    .point {
      position: absolute;
      width: 5px;
      height: 5px;
      background: #fff;
      border-radius: 50%;
      z-index: 3;
      border: 1px solid $color_primary;
      box-shadow: 0 0 0 2px rgba(#fff, 0.2), 0 0 0 2px rgba($color-primary, 0.2);
      animation: point 0.3s linear;
      pointer-events: none;
    }
  }
}

@keyframes instruction {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes point {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}