@import '../../styles/_variables';
@import '../../styles/_viewports';

.InstructionsPage {
  display: flex;
  align-items: center;

  h1 {
    margin-top: 4rem;
  }

  .instruction-hand {
    width: 80vmin;
    animation: instruction 1s ease-in-out forwards;
  }
}

@keyframes instruction {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}